{% extends 'layouts/base.html' %}



{% block content %}
<header>
  <h1>About</h1>
</header>
<div>
  <p>Hi! my name is Luis Portillo, Venezuelan Fullstack Web Developer (DevCorvus). I have recently tried Django so following the line of frameworks for Python, now I wanted to try Flask. As in other occasions simply in order to learn and test the capabilities of each tool and how they can fit in certain situations.</p>
  <p>This time it is a simple CRUD and API based on animals (Postgres as database with SQLAlchemy), although the theme could really be any other.</p>
  <p>In terms of development, I didn't want to delve too deeply into Flask since it is not a tool that could predictably be on my priority list compared to other options, so it was quite fast but a pleasant experience since it is similar to what Express is for NodeJs.</p>
  <p>Concluding this small project, I will move to other plans that I have in mind.</p>
  <p><strong>Thanks for reading! .) ♥</strong></p>
</div>
{% endblock %}
