{% extends 'layouts/base.html' %}

{% block content %}
<form class="bg-light border p-3" action="" method="POST">
  <header>
    <h1 class="text-center">{% if animal %}Edit Animal{% else %}Add Animal{% endif %}</h1>
  </header>
  <div>
    <label class="form-label" for="name">Name:</label>
    <input
      type="text"
      class="form-control"
      name="name"
      id="name"
      maxlength="150"
      value="{% if animal %}{{ animal.name }}{% endif %}"
    >
    {% if error %}
    <span class="text-danger">{{ error }}</span>
    {% endif %}
  </div>
  <div class="mt-1">
    <label class="form-label" for="description">Description:</label>
    <textarea
      name="description"
      class="form-control"
      id="description"
      cols="30"
      rows="10"
    >{% if animal %}{{ animal.description }}{% endif %}</textarea>
  </div>
  <div class="mt-1">
    <label class="form-label" for="image_url">Image URL:</label>
    <input
      type="text"
      class="form-control"
      name="image_url"
      id="image_url"
      value="{% if animal %}{{ animal.image_url }}{% endif %}"
    >
  </div>
  <div class="row g-3 mt-2">
    <div class="col-auto">
      <a class="btn btn-secondary" href="/">
        Cancel
      </a>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="submit">
        {% if animal %}Apply Changes{% else %}Add Animal{% endif %}
      </button>
    </div>
  </div>
</form>
{% endblock %}