{% extends 'layouts/base.html' %}

{% block content %}
{% if animals|length == 0 %}
<div>
  <h3 class="mb-2">There are no animals. Add one below!</h3>
  <a class="btn btn-primary" href="/create/">Add Animal</a>
</div>
{% else %}
<div class="d-flex justify-content-between align-items-center mb-2">
  <header>
    <h1>Animals</h1>
  </header>
  <form action="" method="GET">
    <div class="row g-3">
      <div class="col-auto">
        <input
          type="text"
          class="form-control"
          name="search"
          id="search"
          value="{% if search %}{{ search }}{% endif %}"
          placeholder="Enter your search here..."
        >
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" type="submit">
          Search
        </button>
      </div>
    </div>
  </form>
</div>
<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Added</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for animal in animals %}
    <tr>
      <td>
        {% if animal.image_url %}
        <img style="max-width: 100px;" class="img-thumbnail" src="{{ animal.image_url }}" alt="{{ animal.name }}">
        {% else %}
        <em>Not Provided</em>
        {% endif %}
      </td>
      <td>{{ animal.name[:50] }}{% if animal.name|length > 50 %}...{% endif %}</td>
      <td>
        {% if animal.description != '' %}
          {{ animal.description[:100] }}
        {% if animal.description|length > 100 %}
          ...
        {% endif %}
        {% else %}
          <em>Not Provided</em>
        {% endif %}
      </td>
      <td>
        <strong>{{ animal.created_at.strftime('%d/%m/%Y') }}</strong>
      </td>
      <td>
        <div class="row g-1">
          <a class="btn btn-sm btn-outline-primary" href="/{{ animal.id }}/">Details</a>
          <a class="btn btn-sm btn-outline-success" href="/update/{{ animal.id }}/">Edit</a>
          <a class="btn btn-sm btn-outline-danger" href="/delete/{{ animal.id }}/">Delete</a>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}