{% extends 'layouts/base.html' %}

{% block content %}
{% if animals|length == 0 %}
<div>
  <h3 class="mb-2">There are no animals. Add one below!</h3>
  <a class="btn btn-primary" href="/create/">Add Animal</a>
</div>
{% else %}
<div class="d-flex flex-wrap justify-content-between align-items-center mb-2">
  <header>
    <h1>Animals</h1>
  </header>
  <form action="" method="GET">
    <div class="row g-3">
      <div class="col-auto">
        <input
          type="text"
          class="form-control"
          name="search"
          id="search"
          value="{% if search %}{{ search }}{% endif %}"
          placeholder="Enter your search here..."
        >
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" type="submit">
          Search
        </button>
      </div>
    </div>
  </form>
</div>
{% for animal in animals %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
      {% if animal.image_url %}
      <img src="{{ animal.image_url }}" class="img-fluid img-thumbnail rounded-start" alt="{{ animal.name }}">
      {% else %}
      <div class="h-100 d-flex flex-column justify-content-center align-items-center img-thumbnail">
        <em>Image not provided</em>
      </div>
      {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">
          {{ animal.name[:50] }}
          {% if animal.name|length > 50 %}
          ...
          {% endif %}
        </h5>
        <p class="card-text">
          {% if animal.description != '' %}
          {{ animal.description[:200] }}
          {% if animal.description|length > 200 %}
          ...
          {% endif %}
          {% else %}
          <em>Description not provided.</em>
          {% endif %}
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="g-1">
            <a class="btn btn-sm btn-outline-primary" href="/{{ animal.id }}/">Details</a>
            <a class="btn btn-sm btn-outline-success" href="/update/{{ animal.id }}/">Edit</a>
            <a class="btn btn-sm btn-outline-danger" href="/delete/{{ animal.id }}/">Delete</a>
          </div>
          <p class="card-text"><small class="text-muted">Created At: {{ animal.created_at.strftime('%d/%m/%Y') }}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}