{% extends 'layouts/base.html' %}

{% block content %}
<header>
  <h1>Animal Details</h1>
</header>
<div class="row">
  <div class="col-12 col-md-6">
    {% if animal.image_url != '' %}
    <img class="img-fluid" src="{{ animal.image_url }}" alt="{{ animal.name }}">
    {% else %}
    <em>Image not provided.</em>
    {% endif %}
  </div>
  <div class="col-12 col-md-6 d-flex flex-column gap-1">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h2 class="my-auto">{{ animal.name }}</h2>
      <a class="btn btn-secondary" href="/">Go Back</a>
    </div>
    {% if animal.description != '' %}
      <pre style="font-family: sans-serif;">{{ animal.description }}</pre>
    {% else %}
      <em>Description not provided.</em>
    {% endif %}
    <strong>{{ animal.created_at.date() }}</strong>
    <div>
      <a class="btn btn-success" href="/update/{{ animal.id }}/">Edit</a>
      <a class="btn btn-danger" href="/delete/{{ animal.id }}/">Delete</a>
    </div>
  </div>
</div>
{% endblock %}