{% extends 'layouts/base.html' %}

{% block content %}
<header>
  <h1>Animal Details</h1>
</header>
<div class="card">
  <div class="row g-0">
    <div class="col-md-6">
      {% if animal.image_url %}
      <img src="{{ animal.image_url }}" class="img-fluid img-thumbnail rounded-start" alt="{{ animal.name }}">
      {% else %}
      <div class="h-100 d-flex flex-column justify-content-center align-items-center img-thumbnail">
        <em>Image not provided</em>
      </div>
      {% endif %}
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="card-title">{{ animal.name }}</h2>
          <a class="btn btn-secondary" href="/">Go Back</a>
        </div>
        {% if animal.description != '' %}
        <pre class="card-text" style="font-family: sans-serif;">{{ animal.description }}</pre>
        {% else %}
        <em>Description not provided.</em>
        {% endif %}
        <div class="d-flex justify-content-between align-items-center">
          <div class="g-1">
            <a class="btn btn-success" href="/update/{{ animal.id }}/">Edit</a>
            <a class="btn btn-danger" href="/delete/{{ animal.id }}/">Delete</a>
          </div>
          <p class="card-text"><small class="text-muted">Created At: {{ animal.created_at.strftime('%d/%m/%Y') }}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}